.parentContainer {
  padding: 2rem 0 4rem;
  display: flex;
  background: #ecfdf5;
  flex-direction: column;
  width: 30%;
  margin: auto;
}

.container1 {
  display: flex;
  align-self: center;
  flex-direction: column;
}

.heading {
  font-family: "Karla", sans-serif;
  color: #2b283a;
  text-align: center;
}

.heading > span {
  color: #10b981;
}

.text {
  font-family: "Inter", sans-serif;
  color: #6b7280;
}

.passwordBtn {
  padding: 10px 20px 10px 15px;
  background: #10b981;
  border-radius: 5px;
  border-color: #10b981;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  cursor: pointer;
}

.container2 {
  display: flex;
  align-self: center;
  gap: 1rem;
}

.password {
  padding: 5px;
  background: #273549;
  border-radius: 5px;
  border-color: #273549;
  font-family: "Inter", sans-serif;
  text-align: center;
  color: #5def92;
}

.lane {
  margin: 2rem 0;
  border: 1px solid #d5d4d8;
}
