.parentContainer {
    display: flex;
    background: #ECFDF5;
    flex-direction: column;
    width: 30%;
    margin: auto;
}

.container1 {
    display: flex;
    align-self: center;
    flex-direction: column;
    margin-top: 2rem;
}

.heading {
    font-family: 'Karla';
    color: #2B283A;
}

.heading>span {
    color: #10B981;
}

.text {
    font-family: 'Inter';
    color: #6B7280;
}

.passwordBtn {
    padding: 10px 20px 10px 15px;
    background: #10B981;
    border-radius: 5px;
    border-color: #10B981;
    font-family: 'Inter';
    color: #FFFFFF;
}

.container2 {
    display: flex;
    align-self: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.password {
    padding: 5px;
    background: #273549;
    border-radius: 5px;
    border-color: #273549;
    font-family: 'Inter';
    text-align: center;
    color: #5DEF92;
}

.lane {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 1px solid #D5D4D8;
}